@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="mx-auto d-flex justify-content-center flex-column w-50 mw-100 mt-5">
            @Body
        </article>
    </main>
</div>
